:root{
    --color-primary: white;
    --color-secondary: #E66800;

    --font-primary: 'NTR', sans-serif;
}



font-family: 'Exo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'NTR', sans-serif;