body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none; 
    cursor: pointer; 
    color: inherit;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Adjust padding as needed */
}

.header-content {
    display: flex;
    justify-content: center;
    z-index: 2;
}