body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none; 
    cursor: pointer; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: center;
    z-index: 2;
}