@import url(common.css);
@import url(_reset.css);




.fullscreen-bg-vid {
    position: fixed; /* Use fixed or absolute position */
    top: 0;
    left: 0;
    width: auto; /* 100% of the viewport width */
    height: 50vh; /* 100% of the viewport height */
    z-index: -1; 
}


.fullscreen-bg-vid video {
    width: 100vw;
    height: 70vh;
    object-fit: cover; /* This will cover the entire area without stretching */
}