:root{
    --color-primary: white;
    --color-secondary: #E66800;

    --font-primary: 'Red Hat Display', sans-serif;
    --font-size: 16px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

.medium {
    font-weight: 500
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

strong, .bold {
    font-weight: var(--font-weight-bold)
  }

h1,h2,h3,h4,h5,p {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;       /* 64px */
    color: white;
}
