:root{
    --color-primary: white;
    --color-secondary: #E66800;

    --font-primary: 'Red Hat Display', sans-serif;
    --font-size: 16px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

/* Font Related */

.medium {
    font-weight: 500
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

strong, .bold {
    font-weight: var(--font-weight-bold)
}

body {
    font-family: var(--font-primary)
}


h1,h2,h3,h4 {
    color: var(--color-primary)
}

h1,h2,h3,h4,h5,h6,p {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem; /* 96px */
}

h2 {
    font-size: 4rem; /* 64px */
    font-weight: var(--font-weight-medium);
}

h3 {
    font-size: 3.625rem;  /* 58px */
}

h4 {
    font-size: 3rem; /* 48px*/
}

h5 {
    font-size: 2.25rem; /*36px*/
    font-weight: var(--font-weight-medium)
}

h6 {
    font-size: 1.375rem; /*22px*/
    font-weight: var(--font-weight-medium);
}


p {
    font-size: 1.125rem;    /* 18px */
}

/* Styling / Misc Variables */

.white {
    color:white;
}

.orange {
    color: var(--color-secondary)
}

.lastpar {
    margin-bottom: 2rem;
}

.nowrap {
    white-space: nowrap;
}

.custom-underline {
    position: relative;
    display: inline-block; 
}

.custom-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%;
    height: 5px; 
    background-color: #E66800; 
}