body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer; 
    color: inherit;
}

/* common header, landing page has specific */

.header-collection {
    margin-left: 5rem;
    margin-right: 5rem;
}

.logo {
    margin-top: 1.5rem;
}
  
.header-main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #E66800;
}
  
.header-nav-left {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
}

.header-nav-left a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.header-nav-center-logo {
    flex: 0;
}
  
.header-nav-right-placeholder {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
  

/*random*/

.headerplaceholder {
    height: 165px;
    background-color: gray;
}

/* Main content */

.main-content-container {
    display: flex;
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: #E66800;
    width: 100%;
    height: 160px;
}

.top-bar h3 {
    margin-left: 2rem;
}

