@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);
@import url(hamburger-overlay-2.css);


.leftCol {grid-area: leftCol}
.rightCol {grid-area: rightCol}
.centCol {grid-area: centCol}

.main-grid {
    display: grid;
    grid-gap: 1rem; 
    margin: 0rem 5rem 0rem 5rem;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
    "leftCol centCol rightCol"; 
}



.leftCol,
.centCol,
.rightCol {
    text-align: center; 
}

.leftCol p,
.rightCol p,
.centCol p {
    margin-top: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

button {
    padding: 0.5rem 2rem; 
    background-color: var(--color-secondary);
    font-size: 1.375rem; 
    font-family: var(--font-primary);
    color: white; 
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    margin: 3rem 0 0 0;
    
}


/* Overlay 2 */

.hamburger-overlay-2,   /* I got feedback on my last assignment that using the same ID to toggle both overlay layouts was not valid HTML */
label[for="menuToggle2"] {  /* Even though i stated that i only did it that way for visual demonstration purposes, because JS was not available - and i understood it was not valid HTML */
    display: none;            /* So now i am now using this repetitive and convoluted solution to toggle the two different overlays instead */
} 

@media (max-width: 1495px) {
    .main-grid {
        display: grid;
        grid-gap: 3rem; 
        margin: 0rem 15rem 0rem 15rem;
        grid-template-columns: auto; 
        grid-template-areas: 
        "centCol" 
        "leftCol" 
        "rightCol"; 
    }
}

@media (max-width: 910px) {
    .main-grid {
        display: grid;
        grid-gap: 3rem; 
        margin: 0rem 5rem 0rem 5rem;
        grid-template-columns: auto; 
        grid-template-areas: 
        "centCol" 
        "leftCol" 
        "rightCol"; 
    }
}



@media (max-width: 665px) {



    .main-content,
    .title-bar {
        align-items: center;
        text-align: center;
    }

    .title-bar h3 {
        margin: 0 1rem;
        font-size: 3rem;
    }

    .bpHide-3 {
        display: none;
    }

    label[for="menuToggle"] {
        display: none; 
    }
    label[for="menuToggle2"] {
        display: block; 
    }

    .hamburger-overlay-2 {
        display: block;
        width: 100%;
    }

}

@media (max-width: 461px) {
    .main-grid {
        display: grid;
        grid-gap: 3rem; 
        margin: 0rem 3rem 0rem 3rem;
        grid-template-columns: auto; 
        grid-template-areas: 
        "centCol" 
        "leftCol" 
        "rightCol"; 
    }
}