@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);
@import url(hamburger-overlay-2.css);

.main-grid { 
    display: grid;
    grid-gap: 10rem;
    margin: 0 10rem 0 10rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "title"
        "main-content";

}

.main-content { grid-area: main-content }
.title { grid-area: title}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 3rem;
}


.title { 
    grid-area: title;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}


.leftCol,
.centCol,
.rightCol {
    flex: 1; 
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.leftCol,
.rightCol {
    flex: 1; /* You already have this */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the button-container to the bottom */
    align-items: center; /* Center-align items horizontally */
    text-align: center; /* Center-align text */
    margin-top: 10rem; /* Keep the top margin */
}

.leftCol p,
.rightCol p {
    margin-left: 0rem;
    margin-top: 1rem;
}

.centCol p:not(:first-child) {
    margin-left: 0rem;
    margin-top: 1rem;
}

.button-container {
    margin-top: 1rem; 
    align-self: stretch; 
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    color: var(--color-secondary);
}

button {
    padding: 0.5rem 1rem; 
    background-color: var(--color-secondary);
    font-size: 1.375rem; 
    font-family: var(--font-primary);
    color: white; 
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer; 
}


.page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

