@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);

.main-grid { 
    display: grid;
    grid-gap: 3rem;
    margin: 0 10rem 0 10rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "title"
        "main-content";

}

.main-content { grid-area: main-content }

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 3rem;
}

.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin-top: 2rem;
}

.leftCol,
.centCol,
.rightCol {
    flex: 1; 
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.leftCol,
.rightCol {
    margin-top: 10rem;
}

.leftCol p,
.rightCol p {
    margin-left: 0rem;
    margin-top: 1rem;
}

.centCol p {
    margin-left: 0rem;
    margin-top: 1rem;
}

.button-container {
    margin-top: 1rem; 
    align-self: stretch; 
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    color: var(--color-secondary);
}

button {
    padding: 0.5rem 1rem; 
    background-color: var(--color-secondary); 
    color: white; 
    border: none; /* Removes the default border */
    border-radius: 0.25rem; /* Optionally rounds the corners of the button */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    /* Add other styling as needed */
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

