@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);


.main-grid {
    display: grid;
    gap: 2rem; 
    margin: 0 10rem;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
        "title title"
        "topLeft topRight"
        "picLeft1 textRight1"
        "textLeft2 picRight2"
        "picLeft3 textRight3"
        "botLeft botRight";
}


.title { 
    grid-area: title;
    display: flex;
    justify-content: center;
}

.topLeft {
    grid-area: topLeft;
}

.topRight {
    grid-area: topRight;
}

.pic1 {
    grid-area: textLeft1;
}

.text2 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.pic3 {
    grid-area: pic3;
}

.botLeft {
    grid-area: botLeft;
}

.botRight {
    grid-area: botRight;
}






img {
    height: 400px;
}