@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);


.main-grid { 
    display: grid;
    grid-gap: 3rem;
    margin: 0 10rem 0 10rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "title"
        "main-content";

}

.main-content { grid-area: main-content }