@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);


.main-grid {
    display: grid;
    gap: 2rem; 
    margin: 0 10rem;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-areas: 
        "title title"
        "topLeft topRight"
        "midLeft midRight"
        "botLeft botRight";
}

.main-content { grid-area: main-content }


.title { 
    grid-area: title;
    display: flex;
    justify-content: center;
}

img {
    height: 400px;
}