@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);

.main-grid { 
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "main-content"

}

.main-content { grid-area: main-content }

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}


/* Special Events */

.specEvents {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.specContent {
    text-align: center;
    margin-top: 5rem;
}

/* Special Events Dropdown Arrow */

.arrow {
    transition: transform 0.3s ease;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    display: inline-block; 

}

.toggle {
    display: none;
}

.toggle-label {
    cursor: pointer;
    display: inline-block; 
    padding: 10px;
    color: inherit; 
    vertical-align: middle; 
    color: var(--color-secondary);
    font-size: 2.25rem;
}

.toggle-label .arrow {
    transition: transform 0.3s ease;
}

.toggle:checked + .toggle-label .arrow {
    transform: rotate(180deg);
}

/* Special Events Dropdown Content */

.content {
    display: none;
    padding: 10px;
}

.toggle:checked ~ .content {
    display: block;
}

.content {
    transition: all 0.3s ease-in-out;
}

.specEventMainText {
    font-size: 3.625rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}