@import url(common.css);
@import url(_reset.css);
@import url(_variables.css);
@import url(hamburger-overlay-2.css);


.main-grid { 
    display: grid;
    margin-bottom: 5rem;
    margin-left: 3rem;
    grid-gap: 3rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "main-content sidebar"

}

.main-content { grid-area: main-content }
.sidebar     { grid-area: sidebar }


.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.main-content p, li, h5 {
    margin: 0 2rem 1rem;
}

.reduce-margin {
    margin-top: -1em;
}

.title-bar {
    grid-template-columns: auto;
}


.hamburger-overlay-2,   /* I got feedback on my last assignment that using the same ID to toggle both overlay layouts was not valid HTML. */
label[for="menuToggle2"] {  /* Even though i stated clearly that i did it only for visual demonstration purposes, because JS was not available, and understood that it was not valid.*/
    display: none;            /* So now i am now using this convoluted solution instead */
} 

@media (max-width: 1502px) {
    .bpHide-1 {
        display: none;
    }


    .footer-left-container,
    .footer-right-container {
        flex: 0;
    }
}


@media (max-width: 1020px) {
    .bpHide-2 {
        display: none;
    }

    .overlay-header h3 {
        font-size: 2.25rem;
    }

    .overlayLogo {
        width: 75%;
    }

    
}

@media (max-width: 665px) {

    .main-grid { 
        display: grid;
        margin-bottom: 5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        grid-gap: 3rem;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "main-content"
    }

    .main-content {
        align-items: center;
        text-align: center;
    }

    .bpHide-3 {
        display: none;
    }

    label[for="menuToggle"] {
        display: none; 
    }
    label[for="menuToggle2"] {
        display: block; 
    }

    .hamburger-overlay-2 {
        display: block;
        width: 100%;
    }

}